#container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.item {
    border-color: aqua;
    background-color: green;
    border-width: 2px;
}
